/** Icon as font **/

.icon-arrow-up:before {
  content: "\e901";
}
.icon-info:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e902"; font-size: 2.25em;
}
.icon-close:before {
  content: "\e903"; font-size: 2.25em;
}

/** clear:both **/
.main_portfolio:after, .about_overlay:after, .portfolio_overlay_content:after {
content: ' ';
clear: both; display: block;
}


.warning {
	text-align: center; padding: 2%;
	border: 1px solid #f39c11; margin-bottom: 35px; background-color: #ffda9f;
}
.warning p {
	margin-bottom: 0; color: #b56f00;
}